// colors

// Variables for dark mode
$dark-primary-color: #12131a; // Green (buttons, highlights)
$dark-secondary-color: #f2f2f7; // White (text on dark backgrounds)
$dark-backround-color: #21222c;

// Variables for light mode
$light-primary-color: #ffffff; // Green (buttons, highlights)
$light-secondary-color: #000000;
$light-backround-color: #f2f2f7; // Black (text on light backgrounds)
